<article class="flex flex-col w-full h-full items-center p-8 space-y-8">
  <app-title class="font-oleo text-3xl">Confirm your order</app-title>

  <app-gold-box> Order Details </app-gold-box>

  <section class="flex justify-between items-end w-11/12 font-oleo">
    <p class="text-md">Subtotal</p>
    <p class="text-primary-gold text-lg">R1 040.00</p>
  </section>

  <section class="flex justify-center w-full space-x-4">
    <app-button class="w-2/5" type="secondary">Menu</app-button>
    <app-button class="w-3/5">Confirm Order</app-button>
  </section>
</article>
