<article class="w-full mt-4 text-center">
  <section class="flex justify-around items-center w-3/5 m-auto">
    <img
      class="w-6 h-6"
      src="../../../assets/images/decrement.svg"
      (click)="decrement()"
    />
    <p class="font-oleo text-lg">{{ counter }}</p>
    <img
      class="w-6 h-6"
      src="../../../assets/images/increment.svg"
      (click)="increment()"
    />
  </section>

  <h4 class="text-xs">Number of Person</h4>
  <p class="font-oleo text-primary-grey">R100 per person</p>

  <footer class="mt-4">
    <app-button (click)="addToOrderClicked()">Add to Order</app-button>
  </footer>
</article>
