<article
  class="flex flex-col w-full h-full justify-between p-8 items-center space-y-16"
>
  <app-title class="text-3xl font-oleo">Tasting Menu</app-title>

  <app-menu-box>
    <app-menu-item
      *ngFor="let entry of menu"
      primary="{{ entry.primary }}"
      secondary="{{ entry.secondary }}"
    ></app-menu-item>

    <section class="w-5/6 m-auto pb-8">
      <app-order-tool
        [counter]="personCount"
        (countEvent)="updateCounter($event)"
      ></app-order-tool>
    </section>
  </app-menu-box>

  <section class="flex justify-center w-full space-x-4">
    <app-button class="w-2/5" type="secondary" (click)="backClicked()"
      >Back</app-button
    >
    <app-button class="w-3/5" (click)="viewOrderClicked()"
      >View Order</app-button
    >
  </section>
</article>
