@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OleoScript";
  src: url("./assets/fonts/OleoScript/OleoScript-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

:root {
  --primary-white: theme("colors.primary-white");
  --primary-gold: theme("colors.primary-gold");
  --primary-grey: theme("colors.primary-grey");
  --primary-black: theme("colors.primary-black");
}

html {
  -webkit-tap-highlight-color: transparent;
}
